
#[link(name = "gtk2",
       vers = "0.0.1",
       uuid = "F2398BB2-E2DF-4A6B-88E6-09F8406E64BA")];

#[desc = "GTK Bindings" ];
#[author = "Karl Voelker"];
#[license = "GPL"];
#[crate_type = "lib"];

#[path = "glib.rs"]
mod glib;

#[path = "gobject.rs"]
mod gobject;

#[path = "gdk.rs"]
mod gdk;

#[path = "gtk.rs"]
mod gtk;

